  <% if target.errors.any? %>
    <div id="error_explanation">
      <h12>No se puede continuar con el registro. Se han encontrado los siguientes errores:</h12>

      <ul>
      <% target.errors.full_messages.each do |msg| %>
		<li>El campo <%= msg %></li>
      <% end %>
      </ul>
    </div>
	</br>
  <% end %>
